{% extends 'layouteu.html' %}

{% block title %}
    <title>Modifier une marque</title>
{% endblock %}

{% block body %}
  <h2>Modifier une marque</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/marque/edit">
    <fieldset>
        <legend> Modifier une marque </legend>
        <input type="hidden" name="id" size="18" value="{{ marque.id }}" id="id">
        <label for="libelle">Libelle</label><br>
        <input type="text" name="libelle" size="18" value="{{ marque.libelle }}" id="libelle"><br>
        <label for="Logo">Logo</label><br>
        <input type="text" name="logo" size="18" value="{{ marque.logo }}" id="logo"> >> <img src="{{ url_for('static', filename= 'images/' +marque.logo) }}" alt="logo" style="max-width: 20px;"><br>
        <input type="submit" value="Modifier" name="Modifier" id="modifier" >
    </fieldset>
  </form>
{% endblock %}
