{% extends 'layouteu.html' %}

{% block title %}
    <title>Nouvelle marque</title>
{% endblock %}

{% block body %}
  <h2>Nouvelle marque</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/marque/add" >
    <fieldset>
        <legend>Ajouter une nouvelle marque</legend>
        <label for="libelle">Libelle</label><br>
        <input id="libelle" type="text" name="libelle" size="25" value="" placeholder="Saisir le nom de la marque" required><br>
        <label for="logo">Logo</label><br>
        <input id="logo" type="text" name="logo" size="25" value="" placeholder="Saisir le nom de l'image"><br>
        <input type="submit" value="Creer" name="Valider" id="modifier">
    </fieldset>
  </form>
{% endblock %}