{% extends 'layout.html' %}

{% block title %}
    <title>modifier un article</title>
{% endblock %}

{% block body %}
  <h2>modifier un article</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/article/edit">
    <fieldset>
        <legend> Modifier un article</legend>
        <input type="hidden" name="id" size="18" value="{{ article.id }}" id="id">
        <label for="nom">Nom</label><br>
        <input type="text" name="nom" size="18" value="{{ article.nom }}" id="nom"><br>
        <label for="prix">Prix</label><br>
        <input type="text" name="prix" value="{{ article.prix }}" id="prix"><br>
        <label for="stock">Stock</label><br>
        <input type="text" name="stock" value="{{ article.stock }}" id="stock"><br>
        <label for="description">Description</label><br>
        <input type="text" name="description" size="18" value="{{ article.description }}" id="description"><br>
        <label for="image">Image</label><br>
        <input type="text" name="image" size="18" value="{{ article.image }}" id="image"><br>
        <label for="type_article_id">Id du type d'article</label><br>
        <select name="type_article_id" id="type_article_id">
            <option value="{{ article.type_article_id }}" class="current">{{ article.type_article_id }}</option>
            {% for values in types_articles %}
            <option value="{{ values.id }}">{{ values }}</option>
            {%  endfor %}
        </select><br>
        <br>
        <input type="submit" value="Modifier" name="Modifier" id="modifier" >

    </fieldset>
  </form>
{% endblock %}
