{% extends 'layout.html' %}

{% block title %}
    <title>Articles</title>
{% endblock %}

{% block body %}
<h3>Articles</h3>
<br>
<a href="/article/add" class="btn btn-primary add">Ajouter un nouvel article</a>
<br>
<br><br>

<div class="mes-cartes">

    <!-- Cards bootstrap avec les valeurs du tableau -->
    {% if articles | length >= 1 %}
    {% for ligne in articles %}
    <div class="card" style="width: 18rem;">
        {% if ligne.image != None %}
        <img class="card-img-top" src="{{ url_for('static', filename= 'images/' + ligne.image) }}" alt="Card image cap">
        {% else %}
    <img class="card-img-top" src="https://ih1.redbubble.net/image.1945641357.3907/flat,750x,075,f-pad,750x1000,f8f8f8.jpg">
    {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{ ligne.nom }}</h5>
      <p class="card-text">Prix : {{ ligne.prix }}€ - Stock : {{ligne.stock}} - Id du type d'article : {{ ligne.type_article_id }}</p>
      <p class="card-text">{{ ligne.description }}</p>
      <hr>
      <a href="/article/edit?id={{ ligne.id }}" class="btn btn-primary">editer</a><br>
      <a href="/article/delete?id={{ ligne.id }}" class="btn btn-primary">supprimer</a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
  {% endblock %}
